{% extends "base.html" %}

{% block content %}
    <div class="container">
        <div class="row">
            <div class="side_menu col-md-1">
                <div class="row" id="left_menu">
                </div>
            </div>
            <div class="content col-md-10">
                <div id="middle"></div>
            </div>
            <div class="side_menu col-md-1">
                <div class="row" id="right_menu">
                </div>
            </div>
        </div>
    </div>
{% endblock content %}